<div class="col-xs-12">
   <p><%= link_to '総合ランキング', user_path(user) %></p>
</div>
<div class="col-xs-12">
    <p><%= link_to 'Niceランキング', user_path(user) %></p>
</div>
<div class="col-xs-12">
    <p><%= link_to 'フォロワーランキング', user_path(user) %></p>
</div>