<div class="text_center">
    <div class="expensive">
        <h1>こんなことはありませんか。</h1>
        <hr />
        <div class="wrapper">
            <div class="para">
                <div class="icon"><%= image_tag 'mirror.png' ,:size =>'32x32' %></div>
                <p class="font_20px font_position">明日どんな服を着ていこうか迷っている。</p>
            </div>
            <div class="para">
                <div class="icon"><%= image_tag 'hatt.png' ,:size =>'32x32' %></div>
                <p class="font_20px font_position">オシャレがわからない。</p>
            </div>
            <div class="para">
                <div class="icon"><%= image_tag 'make.png' ,:size =>'32x32' %></div>
                <p class="font_20px font_position">服に関して情報交換をしてみたい。</p>
            </div>
            <div class="para">
                <div class="icon"><%= image_tag 'suit.png' ,:size =>'32x32' %></div>
                <p class="font_20px font_position">そもそもなにがダメなのかがわからない。</p>
            </div>
        </div>
    </div>
    <div class="solve">
        <h2>Wearingはファッションを助言し合うことができます。</h2>
        <hr />
<!--
        <div class="can_do">
            <div class="enclose">
                <#%= image_tag 'top50_01.png' %>
                <span class="margin_lr"><#%= image_tag 'top50_01.png' %></span>
                <#%= image_tag 'top50_01.png' %>
            </div>
        </div>
-->
        <dl id="advise">
            <dt>服のセンスに自信がない人でもご利用できます。</dt>
                <dd>実は服には法則があった！？</dd>
                <dd>センスは生まれ持ってのものではなかった！</dd>
                <dd>おしゃれをするだけで今よりモテる！？</dd>
            <dt>おしゃれは心理学でも様々なメリットがあると言われています。</dt>
                <dd>自分に自信をもたらしてくれる</dd>
                <dd>頭がよくて性格がよくて有能になる</dd>
                <dd>異性だけでなく同性からも支持を得られるようになる</dd>
                <dd>幸福度が上がる</dd>
                <dd>収入が上がる</dd>
        </dl>
        <p>さあ、User間で情報を交換していきましょう！</p>
    </div>
</div>