.posts_img img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.post_main {
  float: right;
  width: 1000px;
  border-radius: 10px;
  background-color: #c1ebff;
  margin-top: 0px;
  padding: 20px 25px 25px 25px;
}

.post-body li {
  display: inline-block;
}

.post-body p,.post_under {
  margin-left: 50px;
}

.post_under {
  padding-bottom: 10px;
}

.favorite,.post_delete {
  float: right;
}

.name_font,.posts_img img,.favorite,.follow_profile {
  margin-top: 50px;
}

.post_font {
  font-size: 30px;
}

.name_font {
  font-size: 20px;
  padding-left: 40px;
}

.font_tc {
  font-size: 20px;
}
.post_main img {
  max-height: 600px;
  max-width: 850px;
}
.post_index {
  margin-top: 20px;
}